body {
  height: 100vh;
}

.sketchfab-embed-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* margin-top: 200px; */
}

.nav {
  position: absolute;
}

#back {
  font-size: 5em;
  color: #1a202c;
  z-index: 10;
  margin-top: 5vh;
  margin-left: 5vw;

  font-family: "Creepster", serif;
}
#next {
  font-size: 5em;
  color: #1a202c;
  z-index: 10;
  margin-top: -5vh;
  margin-left: 90vw;

  font-family: "Creepster", serif;
}
