.colors {
  color: rgb(253, 232, 192);
  color: rgb(207, 108, 23);
  color: rgb(13, 29, 46);
  color: rgb(132, 165, 161);
  color: rgb(52, 99, 110);
}

html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.parent-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  height: 1000px;
  background-color: rgb(253, 232, 192);
  animation: bodyPulse 5s infinite;
  position: relative;
  margin: 0 0 0 0;
  padding: 0px;
}

.flex-container-row-12 {
  animation: scale-12 5s infinite ease;
}
.flex-container-row-11 {
  animation: scale-11 5s infinite ease;
}
.flex-container-row-10 {
  animation: scale-10 5s infinite ease;
}
.flex-container-row-9 {
  animation: scale-9 5s infinite ease;
}
.flex-container-row-8 {
  animation: scale-8 5s infinite ease;
}
.flex-container-row-7 {
  animation: scale-7 5s infinite ease;
}

@keyframes scale-12 {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
}

@keyframes scale-11 {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.75);
  }
}

@keyframes scale-10 {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}

@keyframes scale-9 {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
}

@keyframes scale-8 {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}

@keyframes scale-7 {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
}

@keyframes bodyPulse {
  0%,
  100% {
    background-color: rgb(253, 232, 192);
  }
  50% {
    background-color: rgb(13, 29, 46);
  }
}

.flex-cell {
  margin-bottom: 20px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  background: rgb(13, 29, 46);
  transform: rotate(45deg);
  justify-content: center;
  animation: squarePulse 5s infinite;
}
@keyframes squarePulse {
  0% {
    background-color: rgb(13, 29, 46);
  }
  25% {
    background-color: rgb(52, 99, 110);
  }
  50% {
    background-color: rgb(132, 165, 161);
  }
  75% {
    background-color: rgb(207, 108, 23);
  }
  100% {
    background-color: rgb(13, 29, 46);
    transform: rotate(315deg);
  }
}
